// Import styles
$fa-font-path: '/static/webfonts';

@import "~bootstrap/scss/bootstrap.scss";
@import "~startbootstrap-freelancer/css/freelancer.css";
@import "~startbootstrap-freelancer/vendor/magnific-popup/magnific-popup.css";
@import "~startbootstrap-freelancer/vendor/fontawesome-free/scss/fontawesome.scss";
@import "~startbootstrap-freelancer/vendor/fontawesome-free/scss/regular.scss";
@import "~startbootstrap-freelancer/vendor/fontawesome-free/scss/brands.scss";
@import "~startbootstrap-freelancer/vendor/fontawesome-free/scss/solid.scss";

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic');

.scroll-to-top {
    display: block !important;
}

.modal-backdrop {
    &.show {
        // opacity: 0.25;
    }
}

.portfolio-modal {
    .portfolio-modal-dialog {
        margin: 0 !important;
    }
}
